{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}{{config.SERVICE_NAME}} – GOV.UK{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/application.min.css">
  <meta name="description" content="SERVICE_NAME">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="DEPARTMENT_NAME">
{% endblock %}

{% block bodyStart %}
  {# cookie policy #}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: config.SERVICE_NAME,
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: config.SERVICE_PHASE
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy"
        }
      ],
      html: 'Built by <a href="' + config.DEPARTMENT_URL +'" class="govuk-footer__link">' + config.DEPARTMENT_NAME + '</a>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" nonce="{{ cspNonce }}" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module" nonce="{{ cspNonce }}">
    import { initAll as GOVUKFrontendInitAll } from '/javascripts/govuk-frontend.min.js'
    import { initAll as MOJFrontendInitAll } from '/javascripts/all.js'
    GOVUKFrontendInitAll()
  </script>

{% endblock %}