{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p>

    {{ govukButton({
        text: "Save and continue"
    }) }}
{% endblock %}