<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>