{% extends "base.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
{{ super() }}

    {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Forms",
                href: "demos/forms"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ super() }}
        <span class="govuk-caption-xl">Demo</span>
        <h1 class="govuk-heading-l">Forms</h1>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#">Autocomplete</a></li>
            <li><a class="govuk-link" href="forms/bank-details">Bank details</a></li>
            <li><a class="govuk-link" href="#">Conditional reveal</a></li>
            <li><a class="govuk-link" href="#">Create account</a></li>
            <li><a class="govuk-link" href="#">Kitchen sink</a></li>
        </ul>
    </div>
</div>
{% endblock %}