{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block header %}
    {{ govukHeader({
        homepageUrl: "#",
        serviceName: "SERVICE_NAME",
        serviceUrl: "#",
        classes: "app-header"
    }) }}
{% endblock %}

{# Overriding main to allow full wigth for landing page. #}
   {% block main %}
       <div class="{%- if containerClasses %} {{ containerClasses }}{% endif %}">
           {% block beforeContent %}
               {{ super() }}
           {% endblock %}
           <main {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
               {% block content %}
                   <div class="app-masthead">
                       <div class="govuk-width-container">
                           <div class="govuk-grid-row">
                               <div class="govuk-grid-column-two-thirds-from-desktop">
                                   <h1 class="govuk-heading-xl app-masthead__title">MOJ Express JS Skeleton</h1>
                                   <p class="app-masthead__description">
                                       The app is provided intentionally bare, with just the essential parts that all services need,
                                       such as error pages, accessibility statement, cookie banner, cookie page and privacy notice.
                                   </p>
                                   {{ govukButton({
                                       text: "Form example",
                                       classes: "govuk-button govuk-button--inverse govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start"
                                   }) }}
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="app-whats-new">
                       <div class="govuk-width-container">
                           <div class="govuk-main-wrapper govuk-main-wrapper--l">
                               <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-two-thirds-from-desktop">
                                           <h2 class="govuk-heading-m">What features does this skeleton have?</h2>
                                           <p class="govuk-body">A number of other packages are used to provide the features listed below with sensible and
                                               best-practice defaults:</p>
                                           <ul class="govuk-list govuk-list--bullet">
                                               <li>Asset management</li>
                                               <li>Cache busting</li>
                                               <li>Form validation</li>
                                               <li>CSRF protection</li>
                                               <li>Content Security Policy (CSP)</li>
                                               <li>Response compression</li>
                                               <li>Rate limiting</li>
                                               <li>Nunjucks support</li>
                                               <li>ES6 JSDocs</li>
                                               <li>Linter</li>
                                               <li>Security</li>
                                               <li>Axios</li>    
                                               <li>SQLite database</li>                                              
                                           </ul>
                                      <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://github.com/ministryofjustice/moj-express-skeleton/blob/main/README.md" class="govuk-link govuk-!-font-weight-bold">Read more in our documentation</a></p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="govuk-width-container">
                       <div class="govuk-main-wrapper govuk-main-wrapper--l">
                           <div class="govuk-grid-row">
                               <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                                   <h2 class="govuk-heading-l govuk-!-font-weight-bold">Styles</h2>
                                   <p class="govuk-body">You can use these GOV.UK Design System components in the user interface of your project. These components are pre-built, core elements which allow government teams to build consistent services.</p>
                                   <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://design-system.service.gov.uk/components/" class="govuk-link govuk-!-font-weight-bold">GDS Components</a></p>
                               </div>
                               <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                                   <h2 class="govuk-heading-l">Nunjuck</h2>
                                   <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices leo
                                       nec vestibulum pulvinar. Nunc faucibus dui nisi, dapibus ultricies mauris maximus
                                       id.</p>
                                   <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
                               </div>
                               <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                                   <h2 class="govuk-heading-l">Secure</h2>
                                   <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices leo
                                       nec vestibulum pulvinar. Nunc faucibus dui nisi, dapibus ultricies mauris maximus
                                       id.</p>
                                   <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
                               </div>

                               <div class="govuk-grid-column-full">
                                   <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
                               </div>

                               <div class="govuk-grid-column-two-thirds">
                                   <h2 class="govuk-heading-l">Why use this Express skeleton?</h2>
                                   <p class="govuk-body">
                                       The MOJ Express.js Skeleton is a template app which is designed to help with getting a new project started quicker. This community tool uses the GOV.UK Frontend and GOV.UK Design System.
                                   </p>
                                   <p class="govuk-body">   
                                       The app is provided intentionally bare, with just the essential parts that all services need, such as error pages, accessibility statement and privacy notice. It uses a number of other packages to provide features with sensible and best-practice defaults. 
                                   </p>
                                   <p class="govuk-body">
                                   Please note, the Design System team is not responsible for this app and cannot support you with using it. Contact the maintainers directly if you need help or you want to request a feature.
                                   </p>
                               </div>

                               <div class="govuk-grid-column-full">
                                   <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
                               </div>

                               <div class="govuk-grid-column-two-thirds-from-desktop">
                                   <h2 id="community" class="govuk-heading-l">Demos</h2>
                                   <p class="govuk-body">
                                       See working examples of this skeleton and how you can set it up and use it.
                                   </p>
                               </div>

                               <div class="govuk-grid-column-full">
                                   <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
                               </div>

                               <div class="govuk-grid-column-two-thirds-from-desktop">
                                   <h2 id="support" class="govuk-heading-l">Maintainers</h2>
                                    <ul class="govuk-list">
                                      <li>
                                        <a class="govuk-link" href="https://github.com/psweeting1">Patrick Sweeting</a> (Primary maintainer)
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://github.com/imtiazAhmd">Imtiaz Ahmed</a> (Primary maintainer)
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://github.com/MazOneTwoOne">Masum Khan</a> (Maintainer)
                                      </li>
                                      <li>
                                        <a class="govuk-link" href="https://github.com/skdejong" >Stephanie de Jong</a> (Maintainer)
                                      </li>
                                   </p>
                               </div>
                           </div>
                       </div>
                   </div>
               {% endblock %}
           </main>
       </div>
   {% endblock %}